/* toggle */

.chk {
    display: grid;
    place-items: center;
}

.chk label {
    margin-top: 14px;
}

input[type="checkbox"] { 
    position: absolute; left: -1000%;
}

label {
    display: block;
    position: relative;
    width: 52.5px;
    height: 30px;
    background: #d3d3d3;
    border-radius: 60px;
    transition: background .4s;
}

label:after {
    content: "";
    position: absolute;
    left: 2.5px;
    top: 50%;
    width: 25px;
    height: 25px;
    border-radius: 100%;
    background: #fff;
    transform: translateY(-50%);
    box-shadow: 1px 3px 4px rgba(0, 0, 0, .2);
    transition: all .4s;
}

input:checked + label {
    background: rgb(255, 128, 51);
}

input:checked + label:after {
    left: calc(100% - 25px - 2.5px);
    right: 5px;
}

label span {
    display: none;
}

/* toggle_end */

address, article, aside, audio, body, button,
canvas, caption, cite, code, dd, del, div, dl, dt, em,
fieldset, figcaption, figure, footer, form,
h1, h2, h3, h4, h5, h6, header, html, img, input, ins,
label, legend, li, mark, nav, ol, p, pre a,
section, span, strong, summary,
table, tbody, td, textarea, tfoot, th, thead, time, tr,
ul, video {
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
}

* {
    list-style: none;
    text-decoration: none;
    color: black;
}

body {
    background-color: #ccc;
    scrollbar-width: none;
}


/* 컨테이너 */
.container {
    background-color: white;
    position: relative;
    width: 100%;
    max-width: 500px;
    margin: auto;
}

.grid-container {
    /* width: 100%; */
    display: grid;
    grid-template-rows: repeat(10,200px);
}
/* 컨테이너_end */


/* 헤더 */
.header {
    background-color: white;
    display: block;
    justify-content: space-between;
    position: sticky;
    top: 0;
    text-align: center;
    border-bottom: 1px solid #ccc;
}

.mainh1 {
    font: bold 40px 'arial';
    letter-spacing: 2px;
    color: rgb(255, 128, 51);
}

.mainh2 {
    height: 42px;
    text-align: center;
    margin-top: 8px;
    border-bottom: 1px solid #ccc;
}
/* 헤더_end */


/* 푸터 */
.footer {
    background-color: white;
    justify-content: space-between;
    position: sticky;
    bottom: 0;
    text-align: center;
    border-top: 1px solid #ccc;
    height: 40px;
}

.footer ul li {
    display: inline-block;
}

.footer ul li a {
    display: block;
    font: bold 12px 'arial';
    margin: auto 12px;
}
/* 푸터_end */


.lis {
    text-align: center;
    margin-top: 4px;
    padding-bottom: 4px;
    border-bottom: 1px solid #ccc;
}

.space {
    height: 1000px;
}


/* 뉴스 */
.news {
    text-align: center;
    margin-top: 4px;
    margin-bottom: 4px;
    border-bottom-style: 1px solid #ccc;
}
/* 뉴스_end */


.tst1 {
    background-color: salmon;
}
